
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 10vh;
    background-color: rgb(73,79,82);
    color: #fff;
}

nav ul {
    list-style-type: none;
    display: flex;
}

nav ul li {
    text-decoration: none;
    color: #fff;
    margin-right: 2rem;
}